*{
    margin: 0;
    padding: 0;
    font-family: sans-serif, 'Times New Roman', Times, serif;
}


.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.logo{
    width: 150px;
}

.content{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: rgb((3, 3, 3), 8, 8);
}


.content h1{
    font-size: 70px;
    margin-top: 80px;
}


.content p{
    margin: 30px auto;
    font-weight: 100;
    line-height: 25px;
}



